service cloud.firestore {

  match /databases/{database}/documents {

     function isUserWithId(userId) {
        return request.auth.uid == userId;
     }

     function userOwnsCourse(userId, courseId) {
      return exists( /databases/$(database)/documents/userPurchases/$(userId)/coursesOwned/$(courseId));
     }

     match /courses/{courseId} {
     	allow read: if true;

      match /lessons/{lessonId} {
       allow read: if userOwnsCourse(request.auth.uid, courseId);
      }

     }

     match /userPurchases/{userId} {
       allow read: if isUserWithId(userId);

       match /coursesOwned/{courseId} {
        allow read: if isUserWithId(userId);
       }

     }

  }

}
