service cloud.firestore {

  match /databases/{database}/documents {

     function isUserWithId(userId) {
        return request.auth.uid == userId;
     }

     function userOwnsCourse(userId, courseId) {
      return exists( /databases/$(database)/documents/users/$(userId)/coursesOwned/$(courseId));
     }

     function isSubscriber(userId) {
      return "pricingPlanId" in get( /databases/$(database)/documents/users/$(userId)).data;
     }

     match /courses/{courseId} {
     	allow read: if true;

      match /lessons/{lessonId} {
       allow read: if userOwnsCourse(request.auth.uid, courseId) || isSubscriber(request.auth.uid);
      }

     }

     match /users/{userId} {
       allow read: if isUserWithId(userId);

       match /coursesOwned/{courseId} {
        allow read: if isUserWithId(userId);
       }

     }

     match /purchaseSessions/{purchaseId} {
        allow read: if resource.data.userId == request.auth.uid;
     }

  }

}
