
<div class="courses-panel">

    <div class="top-toolbar">

      <button class="toolbar-btn" mat-raised-button color="accent"
              (click)="subscribeToPlan()" [disabled]="processingOngoing">
        Subscribe
      </button>

      <button class="toolbar-btn" mat-raised-button
              (click)="cancelPlan()" [disabled]="processingOngoing">
        Cancel
      </button>

    </div>

    <mat-tab-group>

        <mat-tab label="Beginners">

            <courses-card-list (courseEdited)="reloadCourses()"
                    [courses]="beginnersCourses$ | async">

            </courses-card-list>

        </mat-tab>

        <mat-tab label="Advanced">

            <courses-card-list (courseEdited)="reloadCourses()"
                    [courses]="advancedCourses$ | async"

            ></courses-card-list>

        </mat-tab>

    </mat-tab-group>



</div>

